:root {
	--very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #F7F7F7;
    --black: #000000;
    --hospital-green: #f4ece0;
    --dark: #232830;
    --bond: #b4aca4;
    --gray: #808080;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}
