@import 'vars';

.cuerpo{
    text-align: center;
}
.contenido{
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
    text-align: justify;
}
.logo1{
    border-radius: 50%;
    width: 350px;
    height: auto;
    background-color: #f4ece0;
}